
body { 
background-color:  #003249; 
color: #C0D6DF; 
font-family: Arial; 
} 
 
header { 
background-color: #CCCCCC; 
padding-top: 10px; 
} 
 
header h1 { 
text-align: center; 
}
 
nav {
	text-align: center;

li 
main { 
background-color: #865667:; 
} 
 
 
section { 
width: 60%; 
padding: 15px; 
display: inline-block; 
background-color: #7F6EA5:; 
} 
*container {
	background-color: #A79AE2;
}
